---
import { ViewTransitions } from "astro:transitions";

const {title, description, thumbnail} = Astro.props;
---
<head>
    <title>{title}</title>

    <ViewTransitions />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:type" content="article">
    <meta property="og:url" content={Astro.url}>
    <meta property="og:image" content={thumbnail}>
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="736">
    <meta property="og:image:height" content="300">
    <meta name="twitter:site" content="Shiawase">
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content={thumbnail}>
    <meta name="theme-color" content="#FFFFFF">

    <meta property="og:site_name" content="Shiawase">

    <!-- Katex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.css" integrity="sha384-FkTZUsHjYVyYpU6dse+5AzszY5617FqhnLpcMIIAlLKTbdmeVMO/7K6BrdHWM28V" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.js" integrity="sha384-CAltQiu9myJj3FAllEacN6FT+rOyXo+hFZKGuR2p4HB8JvJlyUHm31eLfL4eEiJL" crossorigin="anonymous"></script>

    <script type="application/ld+json" set:html={`{
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "${title}",
        "description": "${description}",
        "url": "${Astro.url}",
        "image": "${thumbnail}",
        "author": {
            "@type": "Person",
            "name": "Shiawase"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Shiawase",
            "logo": {
                "@type": "ImageObject",
                "url": "/favicon.svg"
            }
        }
    }`}/>
</head>
