---
import '@/styles/globals.css';
import MenuBar from '@/components/MenuBar/MenuBar.astro';
import BlurFade from '@/components/ui/blur-fade';
import { ArrowUpRight } from 'lucide-astro';
import CommonHeader from '@/components/CommonHeader.astro';
const blogFiles = await Astro.glob('../../content/blogs/*.mdx');
const blogsToDisplay = blogFiles.slice(0, 4);
---

<html lang="en">
<head>
  <CommonHeader />
</head>
<body class="min-h-screen">
  <div class="flex flex-col pt-20">
    <div class="mx-auto w-full max-w-3xl space-y-16">
      <BlurFade client:load delay={0.6}>
        <div class="flex-col pt-10 p-4 ">
          <div class="text-2xl sm:text-3xl font-bold w-fit">
            ▲ Blog Posts ({blogFiles.length})
          </div>
          <div class="mt-10">
            {blogsToDisplay.map((blog) => (
              <div class="border-b pb-4 mb-4 space-y-1">
                <h2 class="text-xl font-semibold flex items-center">
                  <a href={`/blog/${blog.frontmatter.slug}`} data-astro-reload class="flex items-center">{blog.frontmatter.title} <ArrowUpRight class="ml-1"/> </a> 
                </h2>
                <p class="text-foreground/60">{blog.frontmatter.description}</p>
                <p class="text-sm text-gray-400">{blog.frontmatter.author} • {blog.frontmatter.date} • {blog.frontmatter['estimate-reading-time']}</p>
              </div>
            ))}
          </div>
        </div>
      </BlurFade>
    </div>
  </div>
  <MenuBar/>
</body>
</html>
