---
// export const prerender = true;
import '@/styles/globals.css';
import MenuBar from '@/components/MenuBar/MenuBar.astro';
import CommonHeader from '@/components/Headers/CommonHeader.astro';
import ProjectCard from '@/components/ProjectCard/ProjectCard.astro';
import WorkExperienceCard from '@/components/WorkExperienceCard/WorkExperienceCard.astro';
import BlurFade from '@/components/ui/blur-fade';
import TypingAnimation from "@/components/ui/typing-animation";
import Expertise from "@/content/configurations/expertise.mdx";
import Section from '@/components/Section/Section.astro';
import { getCollection } from 'astro:content';
import { Badge } from '@/components/ui/badge';

const projectFiles = await getCollection("projects");
const projectsToDisplay = projectFiles.slice(0, 4);

const experienceFiles = await getCollection("experiences");
const experienceFilesToDisplay = experienceFiles.slice(0, 4);
---

<html lang="en">
  <head>
    <CommonHeader />
  </head>
  <body class="min-h-screen">
    <div class="flex flex-col pt-20">
      <div class="mx-auto w-full max-w-3xl space-y-5 mb-16">
        <div class="flex justify-between">
          <div class="flex flex-col overflow-hidden max-w-[550px] p-4">
            <BlurFade client:load className="font-bold text-4xl sm:text-5xl">
              Hi! I&#39;m Shiawase 👋 
            </BlurFade>
            <BlurFade client:load delay={0.4}>
              <TypingAnimation client:load
                className="text-lg sm:text-xl mt-1"
                text="Full-stack developer and cybersecurity researcher, learning and building in my free time, based in Saudi Arabia 💚"
                duration={10}
              />
            </BlurFade>
          </div>
          <div class="relative flex-shrink-0 w-44 h-44 mr-2 max-w-full max-h-full">
            <BlurFade client:load delay={0.6}>
              <img src="/assets/Me.jpg" alt="Profile Picture" class="rounded-full border" />
            </BlurFade>
          </div>
        </div>

        <BlurFade client:load delay={0.6}>
          <Section title="About Me">
            <p>I am 16 years old. Started coding when I was around 11 as a hobby, working mainly on <a href="https://roblox.com" class="underline decoration-wavy">Roblox</a> games (and still do!). Nowadays, most of my free time goes into writing new projects, experimenting with new ideas, or just figuring stuff out for fun. I enjoy the process as much as the results! </p>
          </Section>
        </BlurFade>

        <BlurFade client:load delay={0.8}>
          <Section title="Skills">
            <Expertise names="all" filter="skills" />
          </Section>
        </BlurFade>

        <BlurFade client:load delay={1.0}>
          <Section title="Tools">
            <Expertise names="all" filter="tools" />
          </Section>
        </BlurFade>

        <BlurFade client:load delay={1.2}>
          <Section title={`Projects (${projectFiles.length})`}>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
              {projectsToDisplay.map((project) => (
                <ProjectCard 
                  title={project.data.title}
                  description={project.data.description}
                  date={project.data.date}
                  imageSrc={project.data.img_logo.src}
                  imageAlt={project.data.img_logo.alt}
                  slug={project.data.slug}
                />
              ))}
            </div>
          </Section>
        </BlurFade>

        <BlurFade client:load delay={1.4}>
          <Section title="Work Experience">
            <div class="space-y-4">
              {experienceFilesToDisplay.map((experience) => (
                <WorkExperienceCard 
                  title={experience.data.title}
                  description={experience.data.description}
                  date={experience.data.date}
                  imageSrc={experience.data.img_logo.src}
                  imageAlt={experience.data.img_logo.alt}
                  role={experience.data.role}
                />
              ))}
            </div>
          </Section>
        </BlurFade>
        <BlurFade client:load delay={1.6} className='mb-12'>
          <Section title="Contact Me">
            <p>If you would like to contact me, please do not hesitate to do so!</p>
            <p>I'm <strong>usually</strong> open for casual chats, but you can also contact me with your project ideas ❤️</p>
          </Section>
        </BlurFade>
      </div>
    </div>
    <MenuBar />
  </body>
</html>
